*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #000029;
    color: #E5E9EC;
    margin-left: 0vw;
    
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}
#about{
    padding-top: 20px;
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 1.2em;
    padding-bottom: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}
.navbar span{
    display: flex;
}
.navbar span{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;    
    background-color: #725AC1;
    width: 100%;
    height: 40px;
    font-size: 1.5em;
}

.navbar a:link{
    color:white;
}
.navbar a:visited{
    color: rgb(254, 150, 150);
}

header{
    text-align: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: cover;
    background-attachment: fixed;
    width: auto;
    height:500px;
    margin-left: 0px;
    z-index: -1;
}
header img{
    z-index: 3;
}

header h1{
    text-align: center;
    color: #FEE440;
    font-size: 4em;
    font-family: 'Boogaloo', sans-serif;
    -webkit-text-stroke: 2px #152369;
}

@media screen and (min-width: 615px){
#widgets{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    padding-left: 2%; /* Adjust as needed */
    margin-right: 2%; /* Adjust as needed */    
}
}
@media screen and (max-width: 615px){
    #widgets{
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
        margin: 2% 0%; /* Adjust as needed */    
    }
    }

#widgets div{
    
    background-color: rgb(226, 120, 120);
    margin: 0px 10px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 800;
    width: 100%;
} 

header img{
    padding-top: 50px;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
#statusOptions option {
    font-size: 1.5em;;
}

#genderOptions option {
    font-size: 1.5em;;
}

#content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4vw;
}
#content div{
    justify-content: center;
    margin: 10px;
    background-color: #758BFD;
    
    padding: 20px;
}
#content h3{
    color:#FEE440;
    font-weight: 700;
}

footer{
    padding-top: 50px;
    text-align: center;
    color:antiquewhite;
}
button{
    background-color: #725AC1;
    border-radius: 5px;
    font-weight: 700;
    box-sizing: border-box;
    border-color: #00002900;
    font-size: 1.5em;
    padding: 5px;
}

#searchHistory{
    margin-left: 4vw;
    font-size: 0.8em;
    color:rgb(126, 125, 123);
}
.result img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.result p {
    text-align: center;
}

#next{
    float: right;
}

#prev{
    float:left;
}

#success{
    text-align: center;
    font-size: 2em;
}

a:link{
    color: #a6b4fd;
}
a:visited{
    color:#9496a2;
}
a:focus{
    color: #FEE440;
}
a:hover{
    color: #FEE440;
}
a:active{
    color: #FEE440;
}
.wrapper{
    display: flex;
    flex-direction: column;
}