html{
    background-color: #1D2951;
    font-family: "Nanum Gothic Coding", monospace;
    color: antiquewhite;
    font-size: 2em;
    box-sizing: border-box;
}
  
header img, #about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#about p{
    text-align: center;
}
#search button{
    background-color: #5A189A;
    display: inline;
}
#searchBar{
    display: inline;   
}
#searchTerm{
    width: 50%;
    height: 10%;
    font-size: 1em;
    padding:5px;
}
#search{
    max-width: fit-content;
    margin-inline: auto;
    margin-top: 45px;
}
select{
    font-size: 1em;
}
#widgets{
    margin-inline: auto;
    max-width: fit-content;
    margin-top: 30px;
}
#statusOptions, #genderOptions{
    width: 200px;
}
#status, #gender, #history, #fav, #reset{
    margin: 10px;
    font-size: 1em;
}
#content{
    display: flex;
}
#content div{
    background-color: #5A189A;
    padding: 20px;
    margin: 20px;
}