.navbar{
    display: flex;
    flex-direction: row;
}
.navbar ul{
    display: flex;
}
.navbar li{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    background-color: yellow;
}

header{
    text-align: center;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: cover;
    background-attachment: fixed;
    width: auto;
    height:300px;
}

header h1{
    text-align: center;
    color: rgb(86, 86, 23);
    font-size: 4em;
}

.widgets{
    display: flex;
    padding-left: 20px;
    justify-content: center;
}

.widgets div{
    background-color: rgb(226, 120, 120);
    margin: 20px;
    padding: 20px;
} 

.widgets button{
    box-sizing: content-box;
    width: 100px;
    padding: 5px;
    height: 80px;
    justify-self: auto;
}

#content{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
#content div{
    margin: 10px;
    background-color: yellow;
}